@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --lightgray: #D9D9D9;
  --gray: #9c9c9c;
  --orange: #f48915;
  --darkGrey: #464D53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  --appColor:  #3c3f45;
}

input, select {
  @apply border border-gray-200 rounded-sm px-1 w-full py-2 px-3;
  @apply mb-2;
}

input:focus, select:focus {
  @apply border-blue-900;
}

h1 {
  @apply text-gray-800 mb-4 text-xl;
}

label {
  @apply text-gray-600 text-sm;
}

.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-sm shadow-sm;
}
table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}

table.basic thead tr td,
table.basic thead tr th 
{
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}

table.basic tr td {
  @apply px-4 py-1;
}

.btn-default, .btn-red {
  @apply px-4 py-1 rounded-md flex gap-3 items-center;
}

.btn-red {
  @apply bg-red-200 text-red-600 px-4 py-1 rounded-sm shadow-sm;
}

.btn-default {
  @apply bg-white text-gray-800 border border-gray-200 px-4 py-1 rounded-sm shadow-sm;
}